/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/private
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/vendor
.env
.env.backup
.env.production
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.swp
*.swo
.DS_Store
/database/*.sqlite*
